{% extends 'base.html' %}
{%block title%}Home - Benard Portfolio{% endblock%}

{%block content%}
    <section class="home" id="home">
      <div class="home-content">
        <h3>Hello, It's me</h3>
        <h1>Benard Joseph Tony</h1>
        <h3>I am a Fullstack <span>Python Developer</span></h3>
        <p>
          Passionate about turning ideas into reality through clean code,
          creative design, and seamless user experiences.
        </p>
        <div class="social-media">
          <a href="https://github.com/tonybenard"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedIn.com/in/joseph-benard"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.facebook.com/tony.benard2"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://x.com/oxTonyDev"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <a href="{{ url_for('static', filename='Benard_Joseph_Tony_CV.pdf') }}" class="btn" download>Download CV ↓</a>
      </div>
      <div class="home-img">
        <img
          src="{{url_for('static', filename='/images/home-bg3.jpg')}}"
          alt="home image"
        />
      </div>
    </section>
{% endblock %}